body {
  font-size: 25px;
  background-color: red;
}
h1 {
  font-size: 100px;
  color: blue;
  border: 5px solid green;
  padding: 25px;
  background-color: yellow;
}
#Baba {
  color: white;
  font-size: 25px;
}
#Baba1 {
  color: green;
}
h1:hover {
  color: brown;
  padding: 50px;
  border: 10px dashed blueviolet;
}
